<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Регистрация</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="jq.js"></script>	
	<!-- <script async type="text/javascript" src="reg.js"></script> -->
</head>
<body>
	<div class="head1">
		<h1 id="head2">Московский областной суд</h1>
		<div  class="auth_block">
			<a href="./sing_in.html" id="link_auth" class="links_head">Вход</a>
		</div>
	</div>
	<div class="sbar">
		<ul>
			<a href="./main_page.html" class="links"><li>Главная</li></a>
			<a href="./dela.html" class="links"><li>Дела на рассмотрении</li></a>
			<a href="./arch.html" class="links"><li>Архив закрытых дел</li></a>
			<a href="./abt.html" class="links"><li>О суде</li></a>
		</ul>
	</div>
	<div class="reg">
	<h1>Регистрация</h1>
	<pre>
	</pre>
	<form method="post" action="/reg">
	
		<p><b>Выберете логин:</b><Br>
			<input type="text" name="login" id="login">
		</p>
		<p><b>Придумайте пароль и подтвердите его:</b><Br>
			<input type="password" name="pass">
			<input type="password" name="pod_pass">
		</p>

		<p><b>Ваши Имя и Фамилия:</b><Br>
			<input type="text" name="first_name">
			<input type="text" name="last_name">
		</p>
		<p><b>Дата вашего рождения:</b><Br>
			<input type="date" name="burn">
		</p>
		
		<p><b>Документ удостоверяющий личность:</b><Br>
			<input type="radio" name="dock" value="pasp">Паспорт<Br>
			<input type="radio" name="dock" value="drive">Водительское удостоверение<Br>
			<input type="radio" name="dock" value="other">Другой<Br>
		</p>
		<p><b>Номер документа удостоверяющего личность:</b><Br>
			<input type="text" name="nomber">
		</p>
		
		<p><b>Номер телефона:</b><Br>
			<input type="tel" name="phone">
		</p>

		<span id="messg"></span>
		<font style='color:red'><%= info %></font><br />
		<p><input type="submit" value="Отправить" onclick="return valid()"></p>

	</form>
	</div>
</body>
</html>
